<%= session[:player].name %>
<br>
Choose a move:
<form>
  <input type="button" name="chosen_move" value="Rock">
  <input type="button" name="chosen_move" value="Paper">
  <input type="button" name="chosen_move" value="Scissors">
</form>
