<%= session[:player].name %>
<br>
Choose a move:

<form action="move" method="post" >
<% Game::MOVE_LIST.each do |move| %>
  <%= "<input type='submit' name='chosen_move' value='#{move}'>" %>
<% end %>
</form>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Rock_Paper_Scissors_Lizard_Spock_en.svg/400px-Rock_Paper_Scissors_Lizard_Spock_en.svg.png" />
